header, footer, aside, nav, article, figure, figcaption {
    display: block;
}

body {
    margin: auto 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-template-areas:
        "h h h h h"
        "a m m m m"
        "f f f f f"
}

header {
    grid-area: h;
}

footer {
    grid-area: f;
}

aside {
    grid-area: a;
    display: grid;
    grid-gap: 10px;
}

main {
    grid-area: m;
}

section.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: fit-content(100%)
}

.container-input {
    margin-bottom: 10px;
}
